@import "../Styles/Mixins/flexbox.scss";

.galleryContainer {
	margin: 2rem;
	@include flexbox(column, center, space-evenly);
	align-items: center;
	width: 80vw;
	.images {
		background: #6d7e89;
		padding: 20px;
		border-radius: 25px;
		box-shadow: 8px 8px 3px #0a0a0a;
		display: inherit;
		justify-content: center;
		flex-wrap: wrap;
		width: 90%;
		margin: 1rem;
		.item {
			margin: 2rem;
			width: 25%;
			text-align: center;
			
			p {
				font-size: 1rem;
				font-family: LEMONMILK;
				color: azure;
				text-align: right;
				margin-right: 8rem;
			}
			img {
				cursor: pointer;
				border-radius: 25px;
				background-color: #eee5e9;
				height: 20rem;
				width: 20rem;
				margin: 0;
				object-fit: cover;
				box-shadow: 5px 5px 3px #0a0a0a;
			}
			
		}
	}
	.popupPicture{
		text-align: center;
		border: solid black;
		width: 70rem;
		height: 70rem;
		position: absolute;
		top: -15;
		left: 20;
		background: #eee5e9;
		border-radius: 25px;
		.closeBtn {
			position: absolute;
			cursor: pointer;
			top: 0.5vh;
			right: 0.25vw;
			border-radius: 20px;
			border: none;
			background-color: #2196f3;
			padding: 10px;
			font-size: 1.5rem;
			font-family: LEMONMILK;
			text-align: center;
			&:hover {
				background-color: #2195f38f;
			}
		}
		img{
			margin-top: 10rem;
			align-self: center;
			width: 40rem;
			height: 40rem;
			object-fit: cover;
		}
	}
}
