@import "../Styles/Mixins/flexbox.scss";

.galleryContainer {
	border: solid rgb(219, 18, 18);
	margin: 2rem;
	display: flex;
	@include flexbox(column, center, space-evenly);
	width: 80vw;
	.row {
		@include flexbox(row, flex-start, space-evenly);
		flex-wrap: wrap;
		width: 90%;
		border: solid rgb(248, 247, 247);
		margin: 1rem;
		.item {
			margin: 2rem;
			border: solid rgb(73, 187, 51);
			width: 25%;
			text-align: center;
			p {
				font-size: 1rem;
				font-family: LEMONMILK;
				color: azure;
				text-align: left;
			}
			img {
				height: 10rem;
				width: auto;
				margin: 0;
				object-fit: cover;
			}
		}
	}
}
