@import "../Styles/Mixins/flexbox.scss";
.container {
	margin: 2rem;
	@include flexbox(column, center, space-evenly);
	align-items: center;
	width: 80vw;
	.form {
		background: #6d7e89;
		padding: 20px;
		border-radius: 25px;
		box-shadow: 8px 8px 3px #0a0a0a;
		display: inherit;
		justify-content: center;
		flex-wrap: wrap;
		width: 90%;
		margin: 1rem;
		.formField {
			width: 30rem;
			padding: 0.5rem;
		}
		p {
			font-family: LEMONMILK;
			font-size: 2rem;
		}
		input {
			border-radius: 15px;
			border: none;
			font-family: LEMONMILK;
			width: 10rem;
			margin-left: 2rem;
			margin-bottom: 2rem;
			padding: 0.5rem;
			&:focus {
				outline: none;
			}
		}
	}
}
