.footer {
	background: linear-gradient(217deg, #076a94, #052f5f);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
}
.footerLeft {
	width: 50%;
	border: solid black;
	color: azure;
	margin: 0;
}
.footerList {
	list-style-type: none;
	margin: 0;
}
.footerRight {
	border: solid black;
	width: 50%;
	text-align: right;
	margin: 0;
}
.footerLinks {
	color: azure;
	cursor: pointer;
	margin: 0 5px 5px 0;
}
.footerLinks:visited {
	color: rgb(208, 247, 247);
}
.popupModal {
	border: solid black;
	border-radius: 20px;
	position: fixed;
	width: 20%;
	margin: 0;
	bottom: 15vh;
	right: 0vh;
	z-index: -1;
	background-color: #6d7e89;
	height: 15vh;
	text-align: center;
}
.closeBtn {
	position: absolute;
	top: 1vh;
	right: 0.5vw;
	border-radius: 20px;
	border: none;
	background-color: #2196f3;
	padding: 10px;
	font-size: 15px;
	font-family: LEMONMILK;
	text-align: center;
}
.closeBtn:hover {
	background-color: #2195f38f;
}
